# kuma-svcacct
access_key = "your_access_key"
secret_key = "your_secret_key"

cluster_arn = "xxx"
cluster_tag = "kuma"
cluster_name = "xxx"
ecs_service_role = "ecsServiceRole"
service_arn = "xxx"
service_name = "kuma-svc"
task_definition = "kuma-cp:1"

lb_container_name = "kuma-cp"
lb_target_group_arn = "xxx"

task_definition_id = "kuma-cp"
alb_sg = "subnet1,subnet2"

subnet_id_1 = "xxx"
subnet_id_2 = "xxx"